body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 60px;
}

.nav-buttons {
    position: fixed;
    top: 5px;
    left: 5px;
    display: flex;
}

.button.home {
    width: 130px;
    background-color: #778899;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.button.home i {
    margin-right: 8px;
}

.button.home:hover {
    background-color: #708090;
}

.button.contracts {
    width: 130px;
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.button.contracts i {
    margin-right: 8px;
}

.button.contracts:hover {
    background-color: #0097a7;
}

.button {
    background-color: #A52A2A;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #800000;
}

.button.secondary {
    background-color: #DAA520;
}

.button.secondary:hover {
    background-color: #B8860B;
}

.button.third {
    background-color: #45a049;
}

.button.third:hover {
    background-color: #006400;
}

.button.fourth {
    background-color: #6495ED;
}

.button.fourth:hover {
    background-color: #0000CD;
}

.button.delete {
    background-color: #e74c3c;
}

.button.delete:hover {
    background-color: #c0392b;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    background-color: #f9f9f9;
}

li:nth-child(even) {
    background-color: #f1f1f1;
}

.file-name {
    flex: 3;
    text-align: left;
    word-wrap: break-word;
    padding-right: 20px;
}

.actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.actions form {
    display: inline-block;
    margin-left: 10px;
}

.file-name, .actions {
    display: flex;
    align-items: center;
}

form, .actions a {
    margin-left: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a, .pagination span {
    margin: 0 10px;
    font-size: 16px;
}

.pagination a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #45a049;
}

.pagination span {
    font-weight: bold;
}

